header {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  align-items: center;
  background-color: #6B9BCE;
  border-bottom: 2px solid black;
  padding: 20px 0 20px 0;
}

span {
  font-size: 24px;
}

.currency-container {
  display: flex;
  gap: 20px;
}
