header {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  align-items: center;
  background-color: rgb(25, 149, 173, 0.8);
  border-bottom: 1px solid black;
  padding: 20px 0 20px 0;
  color: #f1f1f2;
}

span {
  font-size: 24px;
}

.currency-container {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }
}
