
<div class="currency-window">
  <div>
    <label for="from-input">{{ currency1 }}</label>
      <input id="from-input" type="number" min="0" [(ngModel)]="value1" (input)="onValue1Change()">
    <select [(ngModel)]="currency1" (change)="onChangeCurrency()">
      <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
    </select>
  </div>
      <button>
        <img src="./assets/icons/exchange.svg"  alt="exchange-icon" (click)="swapCurrencies()">
      </button>
  <div>
    <label for="to-input">{{ currency2 }}</label>
    <input id="to-input" type="number" min="0" [(ngModel)]="value2" (input)="onValue2Change()">
    <select [(ngModel)]="currency2" (change)="onChangeCurrency()">
      <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
    </select>
  </div>
</div>

<input type="number" min="0" [(ngModel)]="value1" (input)="onValue1Change()">
<mat-form-field class="back" appearance="fill">
  <mat-label>{{currency1}}</mat-label>
  <mat-select [(ngModel)]="currency1" (change)="onChangeCurrency()" [formControl]="selected" [errorStateMatcher]="matcher">
    <mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-option>
  </mat-select>
</mat-form-field>

