button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
}

label {
  font-size: 24px;
  padding: 0 0 0 30px;
}

input {
  padding: 0 0 5px 0;
  margin: 0 0 0 10px;
  border: 0;
  border-bottom: 1px solid black;
  font-size: 24px;
  max-width: 170px;
  background-color: transparent;

  &:focus {
    outline: none;
  }

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  padding: 0 0 0 10px;
  margin: 0 30px 0 0;
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  & option {
    border: none;
  }

}

.converter {
  background-color: rgb(161, 214, 226, 0.5);
  margin: auto;
  width: 70%;
  padding-top: 100px;
  padding-bottom: 150px;
  border-radius: 0 0 30px 30px;
}

.currency-window {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin: auto;
  padding: 50px 0 50px 0;
  background-color: #f1f1f2;
  border-radius: 30px;
}

.mat-select {
  max-width: 80px;
  max-height: 67px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  button {
    margin-top: 30px;
  }
  .converter {
    width: 100%;
  }

  .select-item {
    position: relative;
    top: 10px;
    font-size: 18px;
  }

  .input-item {
    margin-top: 45px;
    display: flex;
    flex-direction: column;


    & label {
      align-self: center;
      margin-left: -20px;
    }

    & select {
      margin: auto;
    }
  }
}

@media (max-width: 1400px) {
  .currency-window {
    flex-direction: column;
    max-width: 70%;
  }

  .input-item {
    padding: 30px 0 50px 0;
  }
}



